@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Josefin+Sans:wght@100&family=Karla:wght@300&family=Montserrat:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;1,100&family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    background-color: #2c3e50;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
header p{
    font-size: 50px;
    color: #08aeea;
    
}
header p span{
    color:   #2af598;
    margin-right: 20px;
}
.navbar a{
    text-decoration: none;
    color: #08aeea;
    padding: 20px;
}
.navbar a:hover{
    color:#2af598;
    text-decoration: overline;
}

.box{
    width: 400px;
    height: 400px;
    margin: 100px 0 0 170px;
    border: 7px solid #ffffff50;
    float: left;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background-image: linear-gradient(45deg, #08aeea, #2af598 100%);
    animation: morph 8s ease-in-out infinite;
}
@keyframes morph {
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        background-image: linear-gradient(45deg, #fa88ff, #2bd2ff 50%, #2bff88 90%);
    }
    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.box2{
   background: #08aeea50 url(img/jv.jpg) no-repeat;
   background-size: cover;
   background-position: top -10px center;
   background-blend-mode: multiply;
    animation: morphTwo 8s ease-in-out infinite 1s;
}
@keyframes morphTwo {
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
       
    }
    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}
.container1{
    display: flex;
    align-items: center;
    gap: 70px;
    
}
div p{
    font-size: 60px;
    color: #08aeea ;
    padding-top: 25%;
}
div p span{
    color: #2af598;
    padding: 10px
}
p{
    font-size: 60px;
    color: #08aeea;
    display: flex;
    justify-content: center;
    align-items: center;

}
#nametitle{
    font-size: 100px;
}
.container2{
    display: flex;
    align-items: center;
    gap: 70px;
}
.box3{
    background: #08aeea50 url(img/cris.jpg) no-repeat;
    background-size: cover;
    background-position: top -10px center;
    background-blend-mode: multiply;
     animation: morphThree 8s ease-in-out infinite 1s;
 }
 @keyframes morphThree {
     0%{
         border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
     }
     50%{
         
         border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        
     }
     100%{
         border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
     }
 }
#cris{
    font-size: 60px;
    color: #2af598 ;
    padding-top: 5%;
    
}
.container3{
    display: flex;
    align-items: center;
    gap: 70px;
}
.box4{
    background: #08aeea50 url(img/eve.jpg) no-repeat;
    background-size: cover;
    background-position: top -10px center;
    background-blend-mode: multiply;
     animation: morphFour 8s ease-in-out infinite 1s;
 }
 @keyframes morphFour {
     0%{
         border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
     }
     50%{
         
         border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        
     }
     100%{
         border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
     }
 }
#eve{
    font-size: 60px;
    color: #2af598 ;
    padding-top: 5%;
    
}
.container4{
    display: flex;
    align-items: center;
    gap: 70px;
}
.box5{
    background: #08aeea50 url(img/anna.png) no-repeat;
    background-size: cover;
    background-position: top -10px center;
    background-blend-mode: multiply;
     animation: morphFive 8s ease-in-out infinite 1s;
 }
 @keyframes morphFive {
     0%{
         border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
     }
     50%{
         
         border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        
     }
     100%{
         border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
     }
 }
#anna{
    font-size: 60px;
    color: #2af598 ;
    padding-top: 5%;
    
}
.container5{
    display: flex;
    align-items: center;
    gap: 70px;
}
.box6{
    background: #08aeea50 url(img/jm.jpg) no-repeat;
    background-size: cover;
    background-position: top -10px center;
    background-blend-mode: multiply;
     animation: morphSix 8s ease-in-out infinite 1s;
 }
 @keyframes morphSix {
     0%{
         border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
     }
     50%{
         
         border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        
     }
     100%{
         border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
     }
 }
#jm{
    font-size: 60px;
    color: #2af598 ;
    padding-top: 5%;
    
}
#jm span{
    color: #08aeea ;
    padding: 10px;
}
.footer {
    margin-top: 2rem;
    font-size: 2rem;
    padding: 2.5rem;
    text-align: center;
    color: #666;
    background: #E1F4FF;
}
